* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  font-family: 'Pridi', serif;
  background: url(assets/img/background.png) no-repeat center;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link {
  color: white;
  text-decoration: none;  
  transition: color 0.5s;
}
.nav-link:hover {
  color:grey;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 20px;
  color: red;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.avatar {
  border-radius: 50%;
}

.main-link {
  color: #ffbb00;
  text-decoration: none;  
  transition: color 0.5s;
}
.main-link:hover {
  color:#ff7400;
}

.contacts-link {
  color: #ffbb00;
  text-decoration: none;  
  transition: color 0.5s;
}
.contacts-link:hover {
  color:#ff7400;
}

#code {
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 1%;
}

.footer-link {
  color: white;
  text-decoration: none;  
  transition: color 0.5s;
}
.footer-link:hover {
  color:grey;
}